<div>
  <h3 style="display: flex;margin:auto;color: azure;flex-direction: row;margin-top: 15px;">
    <div class="center" style="display: flex;">
      <div id="parrot_1" th:insert="~{party_parrot}"></div>
    </div>バックエンドディビジョン:タスク管理アプリ(2023~)
    <div class="center" style="display: flex;margin-left: 45px;">
      <div id="parrot_2" th:insert="~{party_parrot}"></div>
    </div>
  </h3>
  <div style="margin-left: 15px;">
    <button type="button" class="btn btn-outline-success btn-sm">タスク追加</button>
  </div>
</div>